/* BASIC HIGH CONTRAST VIEW */

/* global */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: .5rem;
	padding-top: 0;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.75;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: justify;
}

h1 {
	margin: 0;
	margin-bottom: .5em;
	padding-top: .5em;
	font-family: Georgia, serif;
	line-height: 1.25;
	font-size: 1.4em;
	text-align: center;
}

h2 {
	margin: 0;
	margin-bottom: .5em;
	padding-top: .5em;
	font-family: Georgia, serif;
	line-height: 1.25;
	font-size: 1.3em;
	text-align: center;
}

input {
	display: inline-block;
	height: 1.75em;
	border-style: solid;
	border-color: black;
	border-width: .1rem;
	padding-bottom: .25rem;
	font-family: Verdana, sans-serif;
	text-align: center;
}

.bi {
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.section-text {
	width: 100%;
	margin-bottom: .75rem;
	font-size: 125%;
	text-align: center;
	background-color: black;
	color: white;
}

/* not displayed */

#abouthowprivacy {
	display: none;
}

#adunit-1 {
	display: none;
}

#adunit-2 {
	display: none;
}

#adunit-3 {
	display: none;
}

#adunit-4 {
	display: none;
}

#comments {
	display: none;
}

#footer-browse-1 {
	display: none;
}

#footer-browse-2 {
	display: none;
}

#footer-patreon {
	display: none;
}

.footer-text-image {
	display: none;
}

#frequent-topics-1 {
	display: none;
}

#frequent-topics-2 {
	display: none;
}

#frequent-topics-3 {
	display: none;
}
	
.header-logo {
	display: none;
}

.header-toon-drop-jaw-base {
	display: none;
}

.header-toon-sly-agent-base {
	display: none;
}

.header-toon-sly-agent-categories {
	display: none;
}

.header-toon-sly-agent-tags {
	display: none;
}

.menu-trigger {
	display: none;
}

.nav-arrows {
	display: none;
}

.page-nav {
	display: none;
}

#page-nav-article-wide {
	display: none;
}

#patreon {
	display: none;
}

#search-1 {
	display: none;
}

#search-2 {
	display: none;
}

#social-2 {
	display: none;
 }
 
#social-3 {
	display: none;
 }
 
#spotlight-2 {
	 display: none;
 }
 
 #spotlight-3 {
	 display: none;
 }
 
.spotlight-featured-image {
	display: none;
}

.summary-featured-image {
	display: none;
}

.text-image {
	display: none;
}

.text-image-more-goods {
	display: none;
}

.text-image-thataway {
	display: none;
}

.text-image-whoops {
	display: none;
}

/* header */

.header-text {
	width: 100%;
	font-size: 200%;
	color: black;
	text-align: center;
}

/* catchphrase */

#catchphrase {
	margin-bottom: 1em;
	text-align: center;
}

/* menu */

#menu {
	margin-bottom: 2rem;
}

.menu-item {
	display: block;
	width: 100%;
	height: 2.9rem;
	margin-bottom: .25rem;
	border-style: solid;
	border-width: .15rem;
	border-color: black;
	font-size: 1.45rem;
	color: black;
}

.menu-icon {
	width: 2.1rem;
	height: 2.1rem;
	float: left;
	margin-top: .25rem;
	margin-left: .25rem;
	margin-right: .5rem;
}

/* social */

#social-1 {
	margin-bottom: 1.5rem;
}

.social-link-group {
	width: 13rem;
	height: 2.25rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	text-align: center;
}

.social-item {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	background-color: black;
}

.social-icon {
	display: block;
	width: 1.65rem;
	height: 2.25rem;
	margin-left: auto;
	margin-right: auto;
}

.social-email-list {
	width: 100%;
	text-align: center;
	font-size: .9rem;
}

.social-email-box {
	width: 13rem;
	font-size: 1.1rem;
}

/* keys index */

#keys-index {
	width: 14.5rem;
	height: 6rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
}

.keys-index-item {
	line-height: 2rem;
	font-size: 1.1rem;
}

.keys-index-keys {
	width: 2rem;
	height: 2rem;
	float: left;
}

.keys-index-1-key-adjust {
	margin-left: .15rem;
	margin-right: -.15rem;
}

/* spotlight */

#spotlight-1 {
	margin-bottom: 1.5rem;
}

.spotlight-section-text {
	width: 100%;
	margin-bottom: .75rem;
	font-size: 125%;
	text-align: center;
	background-color: black;
	color: white;
}

.spotlight-header{
	width: 100%;
	height: 2.25rem;
	margin-bottom: .5rem;
	padding-top: .05rem;
	border-style: solid;
	border-color: black;
	border-width: .1rem;
	background-color: gainsboro;
	line-height: 1.95rem;
	font-size: 1.25rem;
}

.spotlight-header-icon-category {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-left: .25rem;
	margin-right: .2rem;
	float: left;
}

.spotlight-header-text {
	color: black;
}

.spotlight-header-icon-key {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-right: .2rem;
	float: right;
}

.spotlight-title {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	padding: 0;
}

.spotlight-text {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	font-family: Georgia, serif;
	line-height: 1.5;
}

.spotlight-read-more {
	text-align: center;
}

/* search */

.search {
	text-align: center;
	font-size: 1.1rem;
}

.search-box {
	width: 13rem;
	font-size: 1.1rem;
}

/* summary */

.summary {
	margin-bottom: 1.5rem;
}

.summary-header{
	width: 100%;
	height: 2.25rem;
	margin-bottom: .5rem;
	padding-top: .05rem;
	border-style: solid;
	border-color: black;
	border-width: .1rem;
	background-color: gainsboro;
	line-height: 1.95rem;
	font-size: 1.25rem;
}

.summary-header-icon-category {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-left: .25rem;
	float: left;
}

.summary-header-text {
	margin-left: .2rem;
	color: black;
}

.summary-header-icon-tag {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	float: left;
}

.summary-header-icon-key {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-right: .2rem;
	float: right;
}

.summary-title {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	padding: 0;
}

.summary-text {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	font-family: Georgia, serif;
	line-height: 1.5;
}

.summary-read-more {
	text-align: center;
}

/* article */

.article-summary {
	margin-bottom: .25rem;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
	padding-top: .5rem;
}

.article-key-adjust-left {
	display: none;
}

.article-summary-text {
	padding-left: .25rem;
	padding-right: .25rem;
}

.article-date {
	text-align: center;
	font-family: Georgia, serif;
}

#article-if-a-series {
	margin-bottom: 1.5rem;
	font-family: Georgia, serif;
}

.article-if-a-series-alt-font {
	font-family: Verdana, Geneva, sans-serif;	
}

.article-content {
	margin-bottom: 1.5rem;
}

.article-the-end {
	padding-top: .25rem;
	font-family: Georgia, serif;
	text-align: center;
}

.article-disclaimer {
	margin-bottom: 1.5rem;
	line-height: 1.25;
	font-size: .85em;
}

/* share */

#share {
	margin-bottom: .5rem;
	text-align: center;
}

.share-text {
	display: inline-block;
	margin-bottom: .5rem;
	font-family: Georgia, serif;
	line-height: 1.5;
}

.share-social-link-group {
	display: inline-block;
	width: 7.5rem;
	height: 2.5rem;
}

/* series */

.series-titles {
	font-family: Georgia, serif;
	font-size: 1.05em;
}

.list-items {
	margin-top: 0;
}

/* info pages */

.abouthowprivacy-top-matter {
	width: 100%;
	margin-bottom: .75rem;
	font-size: 125%;
	text-align: center;
	background-color: black;
	color: white;
}

.how-to-use-icon {
	width: 2.25rem;
	height: 3rem;
	margin-top: -.1rem;
	margin-left: auto;
	margin-right: .5rem;
	float: left;
}

/* 404 error */

.error-section-text {
	width: 100%;
	margin-bottom: .75rem;
	font-size: 125%;
	text-align: center;
	background-color: black;
	color: white;
}

.error-text {
	margin-bottom: 1.75rem;
}

/* page nav basic */

#page-nav-basic {
	margin-bottom: 1.75rem;
	text-align: center;
}

.nav-arrow-basic {
	display: inline-block;
	font-size: 120%;
	color: black;
}

/* footer */

#footer {
	border-style: solid;
	border-width: .15rem;
	border-color: black;
	padding-top: 1rem;
	text-align: center;
}

#footer-text-block {
	margin-top: 1.5rem;
}

.footer-section-text {
	display: inline-block;
}

.footer-text {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding-left: .75rem;
	padding-right: .75rem;
	font-family: Georgia, serif;
	line-height: 1.5;
	font-size: 110%;
	text-align: justify;
}

.footer-search {
	margin-bottom: 1.25rem;
}

.footer-copyright {
	font-family: Georgia, serif;
}


/* 1 COLUMN NARROW VIEW */
@media screen and (min-width: 20em) {

/* global */

body {
	padding: 1rem;
	padding-top: 0;
}

a {
	line-height: 1;
	color: #0066CC;
}

label {
	display: block;
	width: 3rem;
	height: 4rem;
	position: fixed;
	top: 0;
	left: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: white;
	cursor: pointer;
}

.background-facebook {
	background-color: #3b5998;
}

.background-neutral {
	background-color: #e5ddd2;
}

.background-patreon {
	background-color: #f96854;
}

.background-pinterest {
	background-color: #bd081c;
}

.background-rss {
	background-color: #ff6600;
}

.background-twitter {
	background-color: #55acee;
}

.background-youtube {
	background-color: #ff0000;
}

.section-text {
	font-size: 0;
	background-color: white;
}

.text-image {
	display: block;
	height: 2.85rem;
	margin-left: auto;
	margin-right: auto;
}

/* header */

#header {
	width: calc(100% - 3rem);
	height: 4rem;
	position: fixed;
	top: 0;
	left: 3rem;
	background-color: white;
}

.header-text {
	font-size: 0;
}

.header-logo {
	display: block;
	width: 17rem;
	height: 3.82rem;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

/* catchphrase */

#catchphrase {
	margin-top: 4.25rem;
	margin-bottom: .75rem;
}

/* menu */

.menu-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.menu-trigger:checked ~ #menu {
	display: none;
}

label[for="menu-mobile-button-base"]{
	background-image: url("/images/sprite-mobile-menu-1.svg#back-base");
}

.menu-trigger-base:checked ~ label[for="menu-mobile-button-base"] {
	background-image: url("/images/sprite-mobile-menu-1.svg#base");
	background-position: center;
}

label[for="menu-mobile-button-categories"]{
	background-image: url("/images/sprite-mobile-menu-1.svg#back-categories");
}

.menu-trigger-categories:checked ~ label[for="menu-mobile-button-categories"] {
	background-image: url("/images/sprite-mobile-menu-1.svg#categories");
	background-position: center;
}

label[for="menu-mobile-button-tags"]{
	background-image: url("/images/sprite-mobile-menu-1.svg#back-tags");
}

.menu-trigger-tags:checked ~ label[for="menu-mobile-button-tags"] {
	background-image: url("/images/sprite-mobile-menu-1.svg#tags");
	background-position: center;
}

#menu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 4rem;
	margin-left: -1rem;
	margin-bottom: 0;
	padding-top: .5rem;
	background-color: white;
}

.menu-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	max-width: 23rem;
	height: calc(100% - 4.5rem);
	max-height: 30rem;
	margin-left: auto;
	margin-right: auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.menu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 45%;
	flex-basis: 45%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 17.75%;
	margin: 1%;
	padding-top: 1%;
	padding-bottom: 2%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	font-size: 1.2rem;
	color: black;
}

.menu-icon {
	margin: 0;
}

/* social */

#social-1 {
	margin-bottom: 2rem;
}

.social-link-group {
	width: 14.5rem;
	height: 2.5rem;
	margin-bottom: .25rem;
}

.social-item {
	width: 2.5rem;
	height: 2.5rem;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
}

.social-icon {
	width: 1.9rem;
	height: 2.35rem;
}

.social-email-box {
	width: 14rem;
}

/* keys index */

#keys-index {
	width: 20rem;
	margin-top: -.5rem;
	margin-bottom: 1.1rem;
	text-align: center;
}

.keys-index-item {
	display: inline-block;
	width: 14rem;
}

.keys-index-item-block {
	text-align: left;
}

/* spotlight */

#spotlight-1 {
	margin-bottom: 1.75rem;
}

.spotlight-section-text {
	font-size: 0;
	background-color: white;
}

.spotlight-text {
	margin-bottom: .75rem;
	text-align: justify;
}

.text-image-in-the-spotlight {
	width: 15.68rem;
}

.spotlight-header{
	margin-bottom: .2rem;
	padding-top: .05rem;
}

.spotlight-featured-image {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	border-style: solid;
	border-color: black;
	border-width: .15rem;
}

a.spotlight-read-more-text:hover {
	font-size: 110%;
}

/* main content */

#main-content {
	margin-bottom: 2rem;
}

.text-image-the-latest-stuff {
	width: 15.6rem;
}

.text-image-dhmb-articles {
	width: 14.55rem;
}

.text-image-category-1-key {
	width: 8.3rem;
}

.text-image-category-1-key-articles {
	display: none;
}

.text-image-category-2-keys {
	width: 9.4rem;
}

.text-image-category-2-keys-articles {
	display: none;
}

.text-image-category-3-keys {
	width: 11.05rem;
}

.text-image-category-3-keys-articles {
	display: none;
}

.text-image-category-how-to {
	width: 7.35rem;
}

.text-image-category-how-to-articles {
	display: none;
}

.text-image-category-interview {
	width: 10.55rem;
}

.text-image-category-interview-articles {
	display: none;
}

.text-image-category-news {
	width: 5.6rem;
}

.text-image-category-news-articles {
	display: none;
}

.text-image-category-opinion {
	width: 7.95rem;
}

.text-image-category-opinion-articles {
	display: none;
}

.text-image-category-review {
	width: 8.2rem;
}

.text-image-category-review-articles {
	display: none;
}

.text-image-category-topical {
	width: 7rem;
}

.text-image-category-topical-articles {
	display: none;
}

.text-image-tag-big-data {
	width: 8.65rem;
}

.text-image-tag-big-data-articles {
	display: none;
}

.text-image-tag-hardware {
	width: 10rem;
}

.text-image-tag-hardware-articles {
	display: none;
}

.text-image-tag-muppets {
	width: 8.85rem;
}

.text-image-tag-muppets-articles {
	display: none;
}

.text-image-tag-passwords {
	width: 10.8rem;
}

.text-image-tag-passwords-articles {
	display: none;
}

.text-image-tag-privacy {
	width: 7.5rem;
}

.text-image-tag-privacy-articles {
	display: none;
}

.text-image-tag-security {
	width: 8.05rem;
}

.text-image-tag-security-articles {
	display: none;
}

.text-image-tag-social-media {
	width: 12.95rem;
}

.text-image-tag-social-media-articles {
	display: none;
}

.text-image-tag-software {
	width: 9.25rem;
}

.text-image-tag-software-articles {
	display: none;
}

.text-image-tag-weebles {
	width: 8.55rem;
}

.text-image-tag-weebles-articles {
	display: none;
}

.text-image-tag-wireless {
	width: 8.85rem;
}

.text-image-tag-wireless-articles {
	display: none;
}

.text-image-multi-article-series {
	display: none;
}

.text-image-series {
	width: 6.2rem;
}

/* ad units */

#adunit-1, #adunit-2 {
	display: block;
	width: 18rem;
	height: 3rem;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
	text-align: center;
}

#adunit-1 {
	margin-bottom: 1.5rem;
}

/* summary */

.summary-header{
	margin-bottom: .2rem;
	padding-top: .05rem;
}

.summary-header-text {
	color: black;
}

.summary-featured-image {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	border-style: solid;
	border-color: black;
	border-width: .15rem;
}

.summary-text {
	margin-bottom: .75rem;
	text-align: justify;
}

a.summary-read-more-text:hover {
	font-size: 110%;
}

/* article */

.article-summary {
	border: none;
	padding: 0;
}

.article-summary-title {
	width: 100%;
	margin-bottom: .75em;
}

.article-summary-text {
	width: 100%;
	margin-bottom: 1.25rem;
	padding: 0;
}

.article-featured-image {
	margin-bottom: .2rem;
}

.article-summary-header-icons {
	margin-right: 0;
}

.article-date {
	margin-bottom: 1rem;
	text-align: right;
}

.article-disclaimer {
	margin-bottom: 1.5rem;
}

/* share */

#share {
	width: 16.5rem;
	height: 3rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 1rem;
}

.share-text {
	width: 7.5rem;
	height: 2.55rem;
	font-size: 1rem;
	float: left;
}

.share-social-link-group {
	width: 9rem;
	margin-top: .25rem;
	float: right;
}

/* comment */

#comments {
	display: block;
	height: 9rem;
	margin-bottom: 2rem;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
	background-image: url("/images/discuss.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

/* info pages */

.abouthowprivacy-top-matter {
	font-size: 0;
	background-color: white;
}

.text-image-about-dhmb {
	width: 12.95rem;
}

.text-image-how-to-use-dhmb {
	width: 18.3rem;
}

.text-image-your-privacy {
	width: 13rem;
}

/* 404 error */

.error-section-text {
	font-size: 0;
	background-color: white;
}

.text-image-whoops {
	display: block;
	width: 9.3rem;
	height: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.error-text {
	max-width: 90%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

/* page nav basic */

#page-nav-basic {
	display: none;
}

/* page nav */

#page-nav {
	display: block;
	width: 18rem;
	height: 2.75rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	text-align: center;
}

.text-image-thataway {
	display: inline-block;
	width: 14.8rem;
	height: 2.75rem;

}

.nav-arrows {
	display: inline-block;
	width: 2.1rem;
	height: 2.75rem;
	padding-top: .35rem;

}

.text-image-more-goods {
	display: inline-block;
	width: 11.35rem;
	height: 2.75rem;
}

/* footer */

.footer-section-text {
	font-size: 0;
}

.footer-text-image {
	display: block;
	width: 16rem;
	height: 3rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -.5rem;
}

.footer-text {
	display: block;
}

}


/* AD BUMP */
@media screen and (min-width: 23em) {

/* ad units */

#adunit-1, #adunit-2, #adunit-3 {
	width: 20rem;
	height: 3.125rem;
}

/* footer */

.footer-text-image {
	width: 18.65rem;
	height: 3.5rem;
}

}


/* 1 COLUMN TEXT BUMP */
@media screen and (min-width: 26em) {

/* global */

body {
	padding: 1.5rem;
	padding-top: 0;
	font-size: 110%;
}

label {
	width: 3.5rem;
	height: 4.5rem;
}

.text-image {
	height: 3.1rem;
}

/* header */

#header {
	width: calc(100% - 3.5rem);
	height: 4.5rem;
	left: 3.5rem;
}

.header-logo {
	width: 20rem;
	height: 4.5rem;
}

/* catchphrase */

#catchphrase {
	margin-top: 4.85rem;
	margin-bottom: 1rem;
}

/* menu */

label[for="menu-mobile-base"]{
	background-image: url("/images/sprite-mobile-menu-2.svg#back-base");
}

.menu-trigger-base:checked ~ label[for="menu-mobile-base"] {
	background-image: url("/images/sprite-mobile-menu-2.svg#base");
}

label[for="menu-mobile-categories"]{
	background-image: url("/images/sprite-mobile-menu-2.svg#back-categories");
}

.menu-trigger-categories:checked ~ label[for="menu-mobile-categories"] {
	background-image: url("/images/sprite-mobile-menu-2.svg#categories");
}

label[for="menu-mobile-tags"]{
	background-image: url("/images/sprite-mobile-menu-2.svg#back-tags");
}

.menu-trigger-tags:checked ~ label[for="menu-mobile-tags"] {
	background-image: url("/images/sprite-mobile-menu-2.svg#tags");
}

#menu {
	top: 4.5rem;
	margin-left: -1.5rem;
}
.menu-bottom {
	display: block;
	height: 18rem;
	margin-left: auto;
	margin-right: auto;
	overflow: hide;
}

.menu-bottom-bug-eyes {
	background-image: url("/images/sprite-mobile-menu-2.svg#bug-eyes");
}

.menu-bottom-drop-jaw {
	background-image: url("/images/sprite-mobile-menu-2.svg#drop-jaw");
}

.menu-bottom-sly-agent {
	background-image: url("/images/sprite-mobile-menu-2.svg#sly-agent");
}

/* spotlight */

.text-image-in-the-spotlight {
	width: 17.1rem;
}

/* search */

.search-box {
	width: 16rem;
	max-width: none;
}

/* main content */

.article-box {
	margin-bottom: 2rem;
}

.text-image-the-latest-stuff {
	width: 17.1rem;
}

.text-image-dhmb-articles {
	width: 15.8rem;
}

.text-image-category-1-key {
	display: none;
}

.text-image-category-1-key-articles {
	display: block;
	width: 17.83rem;
}

.text-image-category-2-keys {
	display: none;
}

.text-image-category-2-keys-articles {
	display: block;
	width: 17.83rem;
}

.text-image-category-3-keys {
	display: none;
}

.text-image-category-3-keys-articles {
	display: block;
	width: 19.6rem;
}

.text-image-category-how-to {
	display: none;
}

.text-image-category-how-to-articles {
	display: block;
	width: 16.8rem;
}

.text-image-category-interview {
	display: none;
}

.text-image-category-interview-articles {
	display: block;
	width: 19.25rem;
}

.text-image-category-news {
	display: none;
}

.text-image-category-news-articles {
	display: block;
	width: 14.85rem;
}
.text-image-category-opinion {
	display: none;
}

.text-image-category-opinion-articles {
	display: block;
	width: 17.45rem;
}
.text-image-category-review {
	display: none;
}

.text-image-category-review-articles {
	display: block;
	width: 16.7rem;
}

.text-image-category-topical {
	display: none;
}

.text-image-category-topical-articles {
	display: block;
	width: 16.5rem;
}

.text-image-tag-big-data {
	display: none;
}

.text-image-tag-big-data-articles {
	display: block;
	width: 18.35rem;
}

.text-image-tag-hardware {
	display: none;
}

.text-image-tag-hardware-articles {
	display: block;
	width: 19.6rem;
}

.text-image-tag-muppets {
	display: none;
}

.text-image-tag-muppets-articles {
	display: block;
	width: 17.15rem;
}

.text-image-tag-passwords {
	display: none;
}

.text-image-tag-passwords-articles {
	display: block;
	width: 19.45rem;
}

.text-image-tag-privacy {
	display: none;
}

.text-image-tag-privacy-articles {
	display: block;
	width: 16.8rem;
}

.text-image-tag-security {
	display: none;
}

.text-image-tag-security-articles {
	display: block;
	width: 17.6rem;
}

.text-image-tag-social-media {
	display: none;
}

.text-image-tag-social-media-articles {
	display: block;
	width: 23rem;
}

.text-image-tag-software {
	display: none;
}

.text-image-tag-software-articles {
	display: block;
	width: 18.85rem;
}

.text-image-tag-weebles {
	display: none;
}

.text-image-tag-weebles-articles {
	display: block;
	width: 17.15rem;
}

.text-image-tag-wireless {
	display: none;
}

.text-image-tag-wireless-articles {
	display: block;
	width: 18.5rem;
}

.text-image-multi-article-series {
	display: block;
	width: 20.05rem;
	height: 2.9rem;
}

.text-image-series {
	display: none;
}

.text-image-about-dhmb {
	width: 14.1rem;
}

.text-image-how-to-use-dhmb {
	width: 19.9rem;
}

.text-image-your-privacy {
	width: 14.1rem;
}

/* info pages */

.info-about-dhmb-blown-away {
	width: 16.2rem;
	height: 19rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -.5rem;
	background-image: url("/images/sprite-toons-abouthowprivacy.svg#blown-away");
}

.info-how-to-use-dhmb-drop-jaw {
	width: 20rem;
	height: 15rem;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/images/sprite-toons-abouthowprivacy.svg#drop-jaw");
}

.info-your-privacy-sly-agent {
	width: 13.5rem;
	height: 16rem;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/images/sprite-toons-abouthowprivacy.svg#sly-agent");
}

/* 404 error */

.error-drop-jaw {
	width: 20rem;
	height: 15rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/images/sprite-toons-abouthowprivacy.svg#drop-jaw");
}

.text-image-whoops {
	width: 12.4rem;
	height: 4rem;
}

/* page nav */

#page-nav {
	width: 19.65rem;
}

.text-image-thataway {
	width: 16.15rem;
	height: 3rem;
}

.nav-arrows {
	width: 2.3rem;
	height: 3rem;
}

.text-image-more-goods {
	width: 12.4rem;
	height: 3rem;
}

/* footer */

.footer-text-image {
	width: 20rem;
	height: 3.75rem;
}

.footer-text {
	padding-left: 1.35rem;
	padding-right: 1.35rem;
}

}


/* 1 COLUMN WIDE VIEW */
@media screen and (min-width: 30em) {

/* global */

body {
	font-size: 120%;
}

label {
	width: 3.75rem;
	height: 5rem;
}

.text-image {
	height: 3.5rem;
}

/* header */

#header {
	width: calc(100% - 3.75rem);
	height: 5rem;
	left: 3.75rem;
}

.header-logo {
	width: 22.25rem;
	height: 5rem;
}

/* catchphrase */

#catchphrase {
	height: 2rem;
	margin-top: 5.25rem;
	margin-bottom: 1rem;
}

/* menu */

#menu {
	top: 5rem;
}

/* spotlight */

.text-image-in-the-spotlight {
	width: 19.25rem;
}

.spotlight-header {
	max-width: 28rem;
	height: 2.75rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 2.4rem;
	font-size: 1.65rem;
}

.spotlight-header-icon-category {
	width: 2.5rem;
	height: 2.5rem;
}

.spotlight-header-icon-key {
	width: 2.5rem;
	height: 2.5rem;
}

.spotlight-featured-image {
	max-width: 28rem;
	margin-left: auto;
	margin-right: auto;
}

.spotlight-text-box {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

.spotlight-title {
	max-width: 28rem;
}

.spotlight-text {
	width: 100%;
	max-width: 30rem;
}

/* main content */

#main-content{
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

.text-image-the-latest-stuff {
	width: 19.25rem;
}

.text-image-dhmb-articles {
	width: 17.85rem;
}

.text-image-category-1-key-articles {
	width: 20.15rem;
}

.text-image-category-2-keys-articles {
	width: 20.15rem;
}

.text-image-category-3-keys-articles {
	width: 22.15rem;
}

.text-image-category-how-to-articles {
	width: 19rem;
}

.text-image-category-interview-articles {
	width: 21.75rem;
}

.text-image-category-news-articles {
	width: 16.75rem;
}

.text-image-category-opinion-articles {
	width: 19.7rem;
}

.text-image-category-review-articles {
	width: 18.85rem;
}

.text-image-category-topical-articles {
	width: 18.65rem;
}

.text-image-tag-big-data-articles {
	width: 20.7rem;
}

.text-image-tag-hardware-articles {
	width: 22.15rem;
}

.text-image-tag-muppets-articles {
	width: 19.25rem;
}

.text-image-tag-passwords-articles {
	width: 21.95rem;
}

.text-image-tag-privacy-articles {
	width: 19rem;
}

.text-image-tag-security-articles {
	width: 19.85rem;
}

.text-image-tag-social-media-articles {
	width: 26rem;
}

.text-image-tag-software-articles {
	width: 21.3rem;
}

.text-image-tag-weebles-articles {
	width: 19.4rem;
}

.text-image-tag-wireless-articles {
	width: 20.9rem;
}

.text-image-multi-article-series {
	width: 22.5rem;
	height: 3.25rem;
}

.text-image-about-dhmb {
	width: 15.95rem;
}

.text-image-how-to-use-dhmb {
	width: 22.5rem;
}

.text-image-your-privacy {
	width: 15.93rem;
}

/* summary */

.summary {
	margin-bottom: 2rem;
}

.summary-header {
	max-width: 28rem;
	height: 2.8rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 2.4rem;
	font-size: 1.65rem;
}

.summary-header-icon-category {
	width: 2.5rem;
	height: 2.5rem;
}

.summary-header-icon-tag {
	width: 2.5rem;
	height: 2.5rem;
}

.summary-header-icon-key {
	width: 2.5rem;
	height: 2.5rem;
}

.summary-featured-image {
	max-width: 28rem;
	margin-left: auto;
	margin-right: auto;
}

.summary-text-box {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

.summary-title {
	max-width: 28rem;
}

.summary-text {
	width: 100%;
	max-width: 30rem;
}

/* ad units */

#adunit-2 {
	margin-bottom: 2.5rem;
}

/* article */

.article-date {
	max-width: 28rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}

/* page nav */

#page-nav {
	width: 21.5rem;
	height: 3.5rem;
}

.text-image-thataway {
	width: 17.65rem;
	height: 3.3rem;
}

.nav-arrows {
	width: 2.5rem;
	height: 3.3rem;
}

.text-image-more-goods {
	width: 13.55rem;
	height: 3.3rem;
}

/* footer */

#footer {
	max-width: 29rem;
	margin-left: auto;
	margin-right: auto;
}

#footer-text-block {
	max-width: 28rem;
	margin-left: auto;
	margin-right: auto;
}

.footer-text-image {
	width: 22.65rem;
	height: 4.25rem;
}

}


/* MENU MODS FOR SHORT SCREENS */

@media screen and (min-width: 30em) and (max-width: 62em) and (max-height: 29em) {

/* header */

#header {
	padding-right: 2rem;
}

/* menu */

.menu-box {
	max-width: 30rem;
	max-height: 18rem;
}

.menu-item {
	max-height: 2.5rem;
	margin: .1rem;
	padding: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.menu-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0;
	margin-left: 1.5rem;
	margin-right: .5rem;
}

}

@media screen and (min-width: 32em) and (max-width: 62em) and (max-height: 29em) {

/* menu */

.menu-box {
	margin-top: -.15rem;
}

}

@media screen and (min-width: 38em) and (max-width: 62em) and (max-height: 29em) {

/* menu */

.menu-bottom {
	display: none;
}

/* social */

.social-layout {
	width: 33rem;
	height: 5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	padding-right: .5rem;
}

.social-link-group {
	display: block;
	margin-top: 1.1rem;
	margin-right: 0;
	float: right;
}

.social-email-list {
	display: block;
	width: 18rem;
	height: 4.5rem;
}

.social-email-box {
	height: 1.4em;
}

/* footer */

.footer-social-layout {
	width: 100%;
	height: auto;
}

.footer-social-link-group {
	display: inline-block;
	float: none;
	margin-top: 0;
}

.footer-social-email-list {
	display: inline-block;
}

}


/* MOBILE TRANSITION */
@media screen and (min-width: 38em) and (min-height: 29em) {

/* global */

label {
	top: 8.75rem;
}

/* header */

#header {
	width: 100%;
	height: 9.5rem;
	left: 0;
	text-align: center;
}

.header-toon {
	display: inline-block;
	margin-top: .5rem;
}

.header-toon-bug-eyes{
	width: 6rem;
	height: 7rem;
	float: left;
	margin-left: .5rem;
}

.header-toon-bug-eyes-base {
	background-image: url("/images/sprite-toons-base-1.svg#bug-eyes");
}

.header-toon-bug-eyes-categories {
	background-image: url("/images/sprite-toons-categories-1.svg#bug-eyes");
}

.header-toon-bug-eyes-tags {
	background-image: url("/images/sprite-toons-tags-1.svg#bug-eyes");
}

.header-logo {
	display: inline-block;
	width: 24rem;
	height: 5.5rem;
	margin: 0;
	margin-top: 1rem;
}

.header-toon-hacker {
	width: 5.85rem;
	height: 6.85rem;
	margin-left: 0;
	float: right;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.header-toon-hacker-base {
	background-image: url("/images/sprite-toons-base-1.svg#hacker");
}

.header-toon-hacker-categories {
	background-image: url("/images/sprite-toons-categories-1.svg#hacker");
}

.header-toon-hacker-tags {
	background-image: url("/images/sprite-toons-tags-1.svg#hacker");
}

/* catchphrase */

#catchphrase {
	width: 100%;
	position: fixed;
	top: 6.5rem;
	left: 0;
	margin: 0;
}

/* menu */

#menu {
	top: 13.5rem;
}

.menu-box {
	margin-top: .5rem;
}

/* social */

#social-1 {
	position: fixed;
	width: calc(100% - 3.75rem);
	height: 4.8rem;
	top: 8.95rem;
	margin-bottom: 0;
	left: 3.75rem;
	background-color: white;
}

.social-layout {
	width: 33rem;
	height: 5rem;
	margin-left: auto;
	margin-right: auto;
	padding-right: .5rem;
}

.social-link-group {
	display: block;
	margin-top: .8rem;
	margin-right: 0;
	float: right;
}

.social-email-list {
	display: block;
	width: 18rem;
}

/* keys index */

#keys-index {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 30rem;
	height: 4rem;
	margin-top: 13.75rem;
	margin-bottom: 1rem;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

.keys-index-1-key-adjust {
	margin-left: 0;
	margin-right: -.4rem;
}

/* spotlight */

#spotlight-1 {
	margin-bottom: -13rem;
}

/* main content */

#main-content{
	max-width: 33rem;
	margin-top: 15rem;
}

/* article */

.article-the-end {
	margin-bottom: 2.5rem;
}

/* 404 error */

.error-drop-jaw {
	margin-top: 16rem;
}

.error-text {
	margin-bottom: 3rem;
}

/* footer */

#footer {
	max-width: none;
	padding-top: .75rem;
}

.footer-social-layout {
	display: none;
}

#footer-text-block {
	max-width: 34rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.footer-text {
	width: 100%;
	max-width: 34rem;
}

.footer-text-bottom {
	max-width: 21.25rem;
	margin-top: -.5rem;
	margin-bottom: 1.5rem;
	float: right;
}

.footer-search-toon-base {
	background-image: url("/images/sprite-toons-base-1.svg#sly-agent");
}

.footer-search-toon-categories {
	background-image: url("/images/sprite-toons-categories-1.svg#sly-agent");
}

.footer-search-toon-tags {
	background-image: url("/images/sprite-toons-tags-1.svg#sly-agent");
}

.footer-search-toon {
	width: 10.25rem;
	height: 12rem;
	margin-top: .5rem;
	margin-left: 1.5rem;
	float: left;
}

}


/* 1 COLUMN AND WHITE SPACE (end mobile) */
@media screen and (min-width: 42.01em) and (min-height: 29em) {

/* global */

body {
	line-height: 1.5;
}

label {
	display: none;
}

/* header */

#header {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.header-box {
	max-width: 41rem;
	margin-left: auto;
	margin-right: auto;
}

.header-toon-bug-eyes {
	width: 6.8rem;
	height: 8rem;
	margin-left: 0;
}

.header-toon-hacker {
	width: 6.6rem;
	height: 7.85rem;
	margin-right: 0;
}

/* menu */

.menu-trigger {
	display: none;
}

.menu-trigger-base:checked ~ #menu {
	display: block;
}

.menu-trigger-categories:checked ~ #menu {
	display: block;
}

.menu-trigger-tags:checked ~ #menu {
	display: block;
}

#menu {
	width: 100%;
	height: auto;
	height: 9rem;
	position: fixed;
	top: 9rem;
	margin-bottom: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.menu-box {
	width: 100%;
	max-width: 41rem;
	height: 8.5rem;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.menu-item {
	-ms-flex-preferred-size: 19%;
	flex-basis: 19%;
	max-width: 19%;
	height: 4rem;
	margin: .1rem;
	border-width: .1rem;
	padding-top: .1rem;
	padding-bottom: .25rem;
	font-size: 1.1rem;
}

.menu-icon {
	width: 2em;
	height: 2rem;
}

.menu-bottom {
	display: none;
}

/* social */

#social-1 {
	position: static;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.25rem;
}

.social-layout {
	width: 33.5rem;
	height: 4rem;
	margin-top: 19rem;
}

.social-link-group {
	display: block;
	margin-top: .75rem;
	margin-right: .25rem;
	float: right;
}

.social-email-list {
	display: block;
	width: 18rem;
	height: 4rem;
}

/* keys index */

#keys-index {
	margin-top: -1.75rem;
	margin-bottom: 1.5rem;
}

/* spotlight */

#spotlight-1 {
	margin-top: 0;
	margin-bottom: 2rem;
}

/* main content */

#main-content{
	max-width: 41rem;
	margin-top: 0;
}

/* summary */

.summary {
	margin-bottom: 1.25rem;
}

.summary-header {
	max-width: none;
	height: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	border-width: .1rem;
	border-bottom-width: 0;
	line-height: 2.3rem;
	font-size: 1.5rem;
}

.summary-header-icon-category {
	width: 2.3rem;
	height: 2.3rem;
}

.summary-header-icon-tag {
	width: 2.3rem;
	height: 2.3rem;
}

.summary-header-icon-key {
	width: 2.3rem;
	height: 2.3rem;
}

.summary-box {
	width: 100%;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
}

.summary-content {
	width: calc(100% - .8rem);
	max-width: 47.5rem;
	margin-top: .25rem;
	margin-left: auto;
	margin-right: auto;
}

.summary-featured-image {
	width: 40%;
	margin-top: .15rem;
	float: right;
}

.summary-text-box {
	width: 57%;
	float: left;
	padding: 1%;
}

.summary-title {
	line-height: 1.15;
	font-size: 130%;
}

.summary-text {
	margin-bottom: 0;
	float: left;
	line-height: 1.15;
	overflow: hidden;
    text-overflow: ellipsis;
}

.summary-read-more {
	display: inline-block;
	width: 100%;
	margin-top: 0;
	margin-bottom: .75rem;
	clear: left;
	text-align: center;
}

/* ad units */

#adunit-1 {
	margin-bottom: 1.75rem;
}

/* article */

.article-summary-title {
	max-width: none;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.5em;
}

.article-summary-text {
	max-width: none;
	padding-left: 1rem;
	padding-right: 1rem;
	float: none;
	margin-bottom: 1.5rem;
	line-height: 1.5;
}

.article-featured-image {
	width: calc(100% - 2rem);
	max-width: 40rem;
	float: none;
}

.article-summary-header {
	width:  calc(100% - 2rem);
	height: 2.6rem;
	max-width: 40rem;
	border-bottom-width: .1rem;
}

.article-date {
	width:  calc(100% - 2rem);
	max-width: 40rem;
}

.article-text {
	padding-left: 1rem;
	padding-right: 1rem;
}

#article-if-a-series {
	margin-top: 2rem;
}

/*series */

.series-list {
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
}

/* 404 error */

.error-drop-jaw {
	margin-top: 1.5rem;
}

.error-text {
	width: 90%;
	max-width: 38rem;
}

/* page nav */

#page-nav {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.no-nav {
	width: 100%;
	height: 1.25rem;
}

/* article nav */

#page-nav.page-nav-when-article-wide {
	display: none;
}

#page-nav-article-wide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.nav-article-prev-wide {
	width: 45%;
}

.nav-article-next-wide {
	width: 45%;
}

.nav-artice-next-arrow-wide {
	float: right;
}

.nav-article-next-text-wide {
	text-align: right;
	clear: right;
}

/* footer */

#footer {
	max-width: 41rem;
}

.footer-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: .5rem;
}

#footer-toon-and-social {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.footer-social-layout {
	display: block;
	width: 33.5rem;
	height: 4.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-right: .5rem;
}

.footer-social-link-group {
	display: inline-block;
	float: right;
}

.footer-social-email-list {
	display: inline-block;
	float: left;
}

#footer-text-block {
	width: 90%;
	max-width: 40rem;
}

.footer-text {
	max-width: none;
	padding: 0;
}

.footer-search-toon {
	width: 12.4rem;
	height: 14.5rem;
	margin-top: 1.25rem;
	margin-left: 5%;
}

.footer-text-bottom {
	width: calc(100% - 16rem);
	margin: 0;
	padding-top: 1.25rem;
}

.footer-search {
	margin-right: 2.25rem;
	float: right;
	padding-top: 1.75rem;
}

}


/* AD BUMP 2 */
@media screen and (min-width: 45.5em) and (min-height: 29em) {

/* spotlight */

#spotlight-1 {
	margin-bottom: 2.5rem;
}

/* ad units */

#adunit-1 {
	width: 41rem;
	height: 5rem;
}

#adunit-2{
	width: 41rem;
	height: 5rem;
}

#adunit-3 {
	width: 41rem;
	height: 5rem;
}

}


/* HYBRID COLUMN */
@media screen and (min-width: 53.5em) and (min-height: 29em) {

/* header */

.header-box {
	width: 48rem;
	max-width: none;
}

.header-toon-bug-eyes {
	width: 8.5rem;
	height: 10rem;
	margin-left: 0;
}

.header-logo {
	width: 28.35rem;
	height: 6.35rem;
}

.header-toon-hacker {
	width: 8.5rem;
	height: 10rem;
	margin-right: 0;
}

/* catchphrase */

#catchphrase {
	top: 7.65rem;
}

/* menu */

#menu {
	top: 9.5rem;
	padding: 0;
}

.menu-box {
	width: 49.25rem;
	max-width: none;
}

.menu-item {
	max-width: 16%;
}

/* sidebar */

#sidebar {
	width: 49rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	background-color: white;
}

/* social */

#social-1 {
	display: none;
}

#social-2 {
	display: block;
	width: 18rem;
	margin-top: .6rem;
	margin-right: .75rem;
	margin-bottom: .75rem;
	float: right;
}

#social-3 {
	display: block;
	margin-bottom: 2rem;
}

.social-2-layout {
	width: 18rem;
	height: 6.5rem;
	margin: 0;
	margin-bottom: .25rem;
	padding: 0;
}

.social-2-link-group {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.social-2-email-list {
	clear: right;
}

/* keys index */

#keys-index {
	width: 44rem;
	height: 1.8rem;
	margin-top: 19rem;
	margin-bottom: .5rem;
}

/* spotlight */

#spotlight-1 {
	margin-top: 1rem;
	margin-left: 1.75rem;
	float: left;
}

.text-image-in-the-spotlight {
	width: 19rem;
	height: 3.45rem;
}

.spotlight-box {
	width: 26rem;
}

.spotlight-featured-image {
	width: 26rem;
}

/* ad units */

#adunit-1 {
	width: 45.5rem;
	height: 5.625rem;
	clear: left;
	clear: right;
}

#adunit-2 {
	width: 45.5rem;
	height: 5.625rem;
	margin-bottom: 2.25rem;
}

/* frequent topics */

#frequent-topics-1 {
	display: block;
	margin-bottom: 1rem;
	float: right;
}

#frequent-topics-2 {
	display: none;
}

.frequent-topics {
	width: 18rem;
	margin-right: .75rem;
	line-height: 1.75;
	font-size: 1.2rem;
}

.text-image-frequent-topics {
	display: block;
	width: 14.9rem;
	height: 2.75rem;
	margin-left: auto;
	margin-right: auto;
}

.frequent-topics-list {
	width: 15rem;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	list-style-position: inside;
}

/* search */

#search-1 {
	display: block;
	float: right;
	margin-right: 1.5rem;
	margin-bottom: 2.5rem;
}

/* main content */

#main-content{
	max-width: 48rem;
	margin-bottom: 3.5rem;
}

/* summary */

.summary-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 48rem;
	max-width: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 12.5rem;
}

.summary-featured-image {
	width: 19.25rem;
	margin-right: .5rem;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.summary-text-box {
	width: 27.5rem;
	height: 9rem;
	margin: 0;
	margin-bottom: .75rem;
	overflow: hidden;
    text-overflow: ellipsis;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.summary-read-more {
	max-width: 30%;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

/* article */

.article-summary-title {
	max-width: none;
	font-size: 1.75em;
}

.article-featured-image {
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.article-summary-header {
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

#article-if-a-series {
	width: 38rem;
	margin-left: auto;
	margin-right: auto;
}

/*series */

.series-list {
	max-width: 40rem;
}

/* 404 error */

.error-drop-jaw {
	width: 24rem;
	height: 18rem;
	margin-top: 22rem;
}

.text-image-whoops {
	width: 15.5rem;
	height: 5rem;
}

.error-text {
	margin-bottom: 5rem;
	font-size: 120%;
}

/* page nav */

#page-nav {
	margin-top: 0;
}

/* footer */

#footer {
	width: 49rem;
	max-width: none;
}

.footer-box {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#footer-toon-and-social {
	width: 18rem;
	margin-top: -2rem;
	margin-left: .5rem;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.footer-toon-base {
	background-image: url("/images/sprite-toons-base-1.svg#sly-agent");
}

.footer-toon-categories {
	background-image: url("/images/sprite-toons-categories-1.svg#sly-agent");
}

.footer-toon-tags {
	background-image: url("/images/sprite-toons-tags-1.svg#sly-agent");
}

.footer-toon {
	width: 12.3rem;
	height: 14.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .75rem;
}

.footer-social-layout {
	width: 18rem;
	height: 8rem;
	padding: 0;
}

.footer-social-link-group {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

#footer-text-block {
	width: 26rem;
	max-width: none;
	float: none;
	margin-right: 2rem;
	margin-bottom: 1rem;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.footer-text-image {
	width: 21.35rem;
	height: 4rem;
}

.footer-search-toon-base {
	display: none;
}

.footer-search-toon-categories {
	display: none;
}

.footer-search-toon-tags {
	display: none;
}

.footer-text {
	margin: 0;
}

.footer-text-bottom {
	width: 100%;
	max-width: none;
}

.footer-search {
	width: 18rem;
	margin-right: 4rem;
	margin-bottom: 0;
	padding: 0;
	float: right;
}

}


/* 2 COLUMN VIEW */
@media screen and (min-width: 62em) {

/* header */

body {
	padding: 0;
	padding-bottom: 1.5rem;
	text-align: center;
}

.header-box {
	width: 100%;
	height: 12rem;
	max-width: 66rem;
	background-color: white;
}

.header-toon {
	width: 10.25rem;
	height: 12rem;
}

.header-logo {
	width: 35.6rem;
	height: 8rem;
}

/* catchphrase */

#catchphrase {
	top: 9.25rem;
	font-size: 110%;
}

/* menu */

#menu {
	width: 100%;
	height: 6.5rem;
	margin-top: 1.75rem;
	margin-left: auto;
}

.menu-box {
	width: calc(100% - 3rem);
	height: 6.5rem;
	max-width: 66rem;
}

.menu-item {
	display: inline-block;
	max-width: none;
	height: 3rem;
	padding-top: .3rem;
	padding-bottom: 0;
	line-height: 2.3rem;
	font-size: 1.3rem;
	text-align: left;
}

.menu-icon {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	margin-left: .5rem;
	margin-right: .25rem;
	float: left;
}

/* keys index */

#keys-index {
	margin-top: 18.5rem;
	margin-bottom: -18.5rem;
}

/* main */

main {
	display: inline-block;
	width: calc(100% - 4rem);
	max-width: 65rem;
	margin-top: 20rem;
}

.article-sidebar-image {
	background-size: 17rem 26.9rem;
	background-image: url("/images/sidebar-right.svg");
	background-position: right bottom 2rem;
	background-repeat: repeat-y;
}

/* sidebar */

#sidebar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 17rem;
	margin: 0;
	margin-bottom: 1rem;
	float: right;
	text-align: left;
	background-color: white;
}

#sidebar-for-articles {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 17rem;
	margin: 0;
	float: right;
	text-align: left;
	background-color: white;
}

/* social */

#social-2 {
	width: 17rem;
	float: none;
	margin-bottom: 1.5rem;
}

#social-3 {
	width: 17rem;
	float: none;
	margin-bottom: 1.5rem;
}

.social-2-layout {
	width: 17rem;
}

.social-3-layout {
	width: 17rem;
	height: auto;
	margin-top: 0;
}

.social-link-group {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.social-patreon-small {
	display: none;
}

.social-email-list {
	display: block;
	width: 17rem;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.social-email-box {
	height: 1.5em;

}

/* patreon */

#patreon {
	display: block;
	width: 14rem;
	height: 2.8rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.25rem;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
	background-color: #f96854;
}

.patreon-button {
	width: 13.8rem;
	height: 2.6rem;
}

/* spotlight */

#spotlight-1 {
	display: block;
	margin: 0;
	margin-bottom: .5rem;
}

#spotlight-2 {
	display: block;
	margin: 0;
	margin-bottom: .5rem;
}

#spotlight-3 {
	display: block;
	margin: 0;
	margin-bottom: .5rem;
}

.text-image-in-the-spotlight {
	display: block;
	width: 15rem;
	height: 2.75rem;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.spotlight-box {
	display: block;
	width: 15rem;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	float: none;
}

.spotlight-header {
	height: 2.25rem;
	line-height: 1.95rem;
	font-size: 1.25rem;
}

.spotlight-header-icon-category {
	width: 2rem;
	height: 2rem;
}

.spotlight-header-icon-key {
	width: 2rem;
	height: 2rem;
}

.spotlight-featured-image {
	width: 15rem;
}

.spotlight-featured-image-2 {
	width: 15rem;
}

.spotlight-title {
	font-size: 115%;
	margin-bottom: 0;
}

.spotlight-title-2 {
	font-size: 115%;
	margin-bottom: 0;
}

.spotlight-text {
	display: none;
}

/* about/how/privacy */

#abouthowprivacy {
	display: block;
	width: 16rem;
	height: 8.25rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.abouthowprivacy-click {
	width: 16rem;
	height: 2.75rem;
	margin-left: auto;
	margin-right: auto;
}

.abouthowprivacy-text-image {
	display: block;
	height: 2.75rem;
	margin-left: auto;
	margin-right: auto;
}

.abouthowprivacy-text-image-about-dhmb {
	width: 12.5rem;
}

.abouthowprivacy-text-image-how-to-use {
	width: 11rem;
}

.abouthowprivacy-text-image-your-privacy {
	width: 12.5rem;
}

/* ad units */

#adunit-1 {
	display: none;
}

#adunit-2 {
	display: none;
}

#adunit-3 {
	display: block;
	width: 10rem;
	height: 10rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	clear: left;
	border-style: solid;
	border-width: .075em;
	border-color: black;
	text-align: center;
}

#adunit-4 {
	display: block;
	width: 10rem;
	height: 10rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.75rem;
	clear: left;
	border-style: solid;
	border-width: .075em;
	border-color: black;
	text-align: center;
}

/* frequent topics */

#frequent-topics-1 {
	width: 17rem;
	margin-bottom: 1.5rem;
}

#frequent-topics-2 {
	display: block;
	width: 17rem;
	margin-bottom: 1.5rem;
}

#frequent-topics-3 {
	display: block;
	width: 17rem;
	margin-bottom: 1.5rem;
}

/* search */

#search-1 {
	display: block;
	margin: 0;
	margin-bottom: 2.5rem;
	float: right;
}

#search-2 {
	display: block;
	margin: 0;
	margin-bottom: 2.5rem;
	float: right;
}

.search {
	margin: 0;
	padding: 0;
}

.search-box {
	width: 15rem;
}

/* main content */

#main-content{
	width: calc(100% - 18rem);
	max-width: 48rem;
	margin-bottom: 1.5rem;
	float: left;
	background-color: white;
}

/* summary */

.summary-box {
	width: 100%;
}

.summary-header {
	text-align: left;
}

.summary-content {
	display: inline-block;
	width: 100%;
	max-width: 47.5rem;
	height: auto;
	margin: 0;
}

.summary-featured-image {
	display: block;
	width: 40%;
	height: auto;
	margin: .25em;
}

.summary-text-box {
	display: block;
	width: 57%;
	max-width: none;
	height: auto;
	margin-left: .25rem;
	float: left;
}

.summary-read-more {
	display: inline-block;
	width: 100%;
	max-width: none;
	margin: 0;
	margin-bottom: .75rem;
}

/* article */

.article-box {
	margin-top: .75rem;
}

.article-summary-header {
	width: 100%;
	max-width: 42rem;
}

.article-featured-image {
	width: 100%;
	max-width: 42rem;
	margin-top:0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .25rem;
}

#article-if-a-series {
	text-align: left;
}

/* article nav */

.nav-article-prev-wide{
	text-align: left;
	padding-left: 1rem;
}

/*series */

.text-image-multi-article-series {
	margin-top: .25rem;
}

.series-list {
	text-align: left;
	width: 80%;
}

/* 404 error */

.error-drop-jaw {
	margin-top: 2rem;
}

/* footer */

#footer {
	display: block;
	width: calc(100% - 3rem);
	max-width: 65rem;
}

.footer-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-right: 3%;
}

#footer-toon-and-social {
	display: block;
	width: 30%;
	margin: 0;
	margin-top: -2rem;
	float: left;
}

.footer-social-layout {
	height: 7rem;
	margin-bottom: 0;
}

.footer-social-link-group {
	width: 12.2rem;
}

.footer-patreon-small {
	display: none;
}

.footer-browse {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 30%;
	margin: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	font-size: 1.25rem;
	text-align: left;
	order: 2;
}

#footer-browse-1 {
	display: block;
	width: 100%;
	margin-bottom: 1.25rem;
}

.footer-tables {
	table-layout: auto;
}

th {
	text-align: left;
}

td {
	border: .1rem solid white;
}

.footer-tables-icons {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 1rem;
}

#footer-patreon {
	display: block;
	width: 14rem;
	height: 2.8rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	border-style: solid;
	border-width: .1rem;
	border-color: black;
	background-color: #f96854;
}

#footer-text-block {
	display: block;
	width: 35%;
	margin: 0;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.footer-text-image {
	width: 19.2rem;
	height: 3.6rem;
}

.footer-search {
	display: none;
}

.footer-copyright {
	display: inline-block;
	width: 100%;
	text-align: center;
}

}


/* SUMMARY ADJUST */
@media screen and (min-width: 66em) {

/* summary */

.summary-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 11.75rem;
}

.summary-featured-image {
	width: 18rem;
	margin-right: .1rem;
}

.summary-text-box {
	width: calc(100% - 19.5rem);
	height: 8.5rem;
	padding-bottom: 0;
}

.summary-read-more {
	display: block;
	width: 20rem;
	height: 1rem;
}

/* article */

.article-featured-image {
	width: 100%;
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}

}


/* 3 COLUMN VIEW */
@media screen and (min-width: 86em) {

/* global */
 
.section-text {
	width: 48rem;
	height: 3.5rem;
	float: right;
}

/* header */

.header-box {
	max-width: 82rem;
}

.header-toon-drop-jaw-base {
	display: block;
	background-image: url("/images/sprite-toons-base-2.svg#drop-jaw");
}

.header-toon-drop-jaw-categories {
	display: block;
	background-image: url("/images/sprite-toons-categories-2.svg#drop-jaw");
}

.header-toon-drop-jaw-tags {
	display: block;
	background-image: url("/images/sprite-toons-tags-2.svg#drop-jaw");
}

.header-toon-drop-jaw {
	width: 10rem;
	height: 9.5rem;
	margin-top: 2.1rem;
	margin-left: 1rem;
	float: left;
}

.header-toon-bug-eyes-base {
	display: block;
	background-image: url("/images/sprite-toons-base-2.svg#bug-eyes");
}

.header-toon-bug-eyes-categories {
	display: block;
	background-image: url("/images/sprite-toons-categories-2.svg#bug-eyes");
}

.header-toon-bug-eyes-tags {
	display: block;
	background-image: url("/images/sprite-toons-tags-2.svg#bug-eyes");
}

.header-toon-bug-eyes {
	margin-right: 1rem;
}

.header-toon-hacker-base {
	display: block;
	background-image: url("/images/sprite-toons-base-2.svg#hacker");
}

.header-toon-hacker-categories {
	display: block;
	background-image: url("/images/sprite-toons-categories-2.svg#hacker");
}

.header-toon-hacker-tags {
	display: block;
	background-image: url("/images/sprite-toons-tags-2.svg#hacker");
}

.header-toon-sly-agent-base {
	display: block;
	background-image: url("/images/sprite-toons-base-2.svg#sly-agent");
}

.header-toon-sly-agent-categories{
	display: block;
	background-image: url("/images/sprite-toons-categories-2.svg#sly-agent");
}

.header-toon-sly-agent-tags {
	display: block;
	background-image: url("/images/sprite-toons-tags-2.svg#sly-agent");
}

.header-toon-sly-agent {
	width: 10rem;
	height: 10rem;
	margin-top: 1em;
	margin-right: 1rem;
	margin-left: 1rem;
	float: right;
}

/*menu */

#menu {
	height: 4.5rem;
}

.menu-box {
	width: 82rem;
	max-width: none;
	height: 4.5rem;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.menu-item {
	display: flex;
	width: 8rem;
	height: 4.5rem;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	margin: 0;
	padding-top: .1rem;
	padding-bottom: .3rem;
	line-height: 1.2rem;
	font-size: 1.2rem;
}

.menu-icon {
	display: block;
	width: 2.2rem;
	height: 2.2rem;
}

/* keys index */

#keys-index {
	margin-top: 16.5rem;
	margin-bottom: -17rem;
}

/* main */

main {
	width: 81.5rem;
	max-width: none;
}

.article-sidebar-image {
	background-image: none;
}

/* main content */

#main-content{
	width: 64rem;
	max-width: none;
	margin-top: -1.5rem;
	padding: 0;
	padding-right: 1rem;
	float: right;
}

.left-side-decoration {
	width: 13rem;
	height: 96rem;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	float: left;
	background-position: cover;
}

.left-side-decoration-base {
	background-image: url("/images/sprite-toons-base-2.svg#sidebar-left");
}

.left-side-decoration-categories {
	background-image: url("/images/sprite-toons-categories-2.svg#sidebar-left");
}

.left-side-decoration-tags {
	background-image: url("/images/sprite-toons-tags-2.svg#sidebar-left");
}

/* summary */

.summary-header {
	width: 48rem;
	float: right;
}

.article-summary-header-icon-key {
	float: left;
}

.summary-box {
	width: 48rem;
	margin-bottom: 1.25rem;
	float: right;
}

.summary-content {
	max-width: none;
}

/* article */

.article-summary-title {
	width: 44rem;
	margin-top: -.75rem;
	margin-bottom: 1.75rem;
	margin-right: 0;
	float: right;
}

.article-summary-text {
	width: 17rem;
	margin-top: 3rem;
	padding: 0;
	float: left;
}

.article-featured-image {
	width: 44rem;
	max-width: none;
	float: right;
	clear: right;
	margin-bottom: 1.5rem;
}

.article-summary-header {
	max-width: 17rem;
	margin-top: -4.5rem;
	float: left;
	border: none;
	background-color: white;
	clear: right;
}

.article-summary-header-key {
	float: left;
}

.article-key-adjust-right {
	display: none;
}

.article-key-adjust-left {
	display: block;
}

.article-date {
	width: 15rem;
	margin-top: -2rem;
	margin-left: .5rem;
	float: left;
	clear: left;
	font-size: 115%;
	text-align: left;
}

#article-if-a-series {
	width: 17rem;
	margin: 0;
	float: left;
	clear: left;
}

.article-text {
	max-width: 44rem;
	margin-right: 0;
	float: right;
	padding: 0;
}

.article-the-end {
	margin-top: 2rem;
}

/* series */

.series-list {
	width: 44rem;
	max-width: none;
	float: right;
}

/* info pages */

.abouthowprivacy-top-matter {
	width: 49rem;
	float: right;
}

.abouthowprivacy-text {
	margin-top: -.5rem;
	margin-right: 2.5rem;
}

/* page nav */

.page-nav-contain {
	width: 48rem;
	height: 3.3rem;
	float: right;
}

#page-nav {
	height: 3.5rem;
	margin-bottom: 0;
}

/* article nav */

#page-nav-article-wide {
	width: 44rem;
	max-width: none;
	margin-bottom: 1.25rem;
	float: right;
}

.nav-article-prev-wide {
	padding: 0;
}

/* footer */

#footer {
	max-width: 81.5rem;
}

.footer-box {
	padding-right: 2%;
}

#footer-toon-and-social {
	width: 22%;
}

.footer-toon-base {
	background-image: url("/images/sprite-toons-base-2.svg#sly-agent");
}

.footer-toon-categories {
	background-image: url("/images/sprite-toons-categories-2.svg#sly-agent");
}

.footer-toon-tags {
	background-image: url("/images/sprite-toons-tags-2.svg#sly-agent");
}

.footer-browse {
	width: 40%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#footer-browse-1 {
	width: 56%;
}

#footer-browse-2 {
	display: block;
	width: 44%;
	text-align: left;
}

.footer-tables-keys-visual-tweak {
	margin-left: .85rem;
}

.footer-tables-series-visual-tweak {
	padding-left: .2rem;
}

#footer-text-block {
	width: 30%;
	font-size: 110%;
}

.footer-text-image {
	width: 21.35rem;
	height: 4rem;
}

}